export(AKm02a0)
export(AKm02q0)
export(GetThanoMatrices)
export(Leslie)
export(Minf0)
export(Mna0)
export(PyramidOrLeafWithHeterogeneity)
export(PyramidOutline)
export(Rmomentn)
export(Thano)
export(ThanoMin)
export(ThanoProjMatrix)
export(aggN)
export(colorStrip)
export(da2fya)
export(getca)
export(makeRect)
export(makeVectorAgeGroups)
export(mx2dxHMD)
export(plotPyr)
export(prepare4plot)
export(rLotkaCoale)
export(rThanoCoale)
importFrom(RColorBrewer,brewer.pal)
importFrom(compiler,cmpfun)
importFrom(grDevices,colorRampPalette)
