export(AKm02a0)
export(AKm02q0)
export(Leslie)
export(Minf0)
export(Mna0)
export(PyramidOutline)
export(Rmomentn)
export(Thano)
export(ThanoMin)
export(ThanoProjMatrix)
export(da2fya)
export(getca)
export(mx2dxHMD)
export(rLotkaCoale)
export(rThanoCoale)
importFrom(compiler,cmpfun)
